body.js #page_secondary_content {
	display: none;
}

div.postbox .tmce-active iframe {
	background-color: #fff;
}

#post_top_story .checkbox,
#featured .checkbox,
#homepage_sidebar .checkbox {
	background-color: transparent;
}