/*
* @updated		XX/XXXX
* @author		Trevor Morris / Surface
* @project		
* --------------------------------------------------------------------------------------------------*/

/**
* =hide
* @section Common
* @subsection Accessible Hiding
* --------------------------------------------------------------------------------------------------
*/
.access,
legend,
form.search label,
.more a strong, .more a span, a.more strong, a.more span,
.geo {
	position: absolute; left: -9999px;
	overflow: hidden;
	height: 0; width: 0;
	font-size: 0; line-height: 0;
}


/**
* =replace
* @section Common
* @subsection Image Replacement
* @see http://phark.typepad.com/phark/2003/08/accessible_imag.html Phark Image Replacement
* --------------------------------------------------------------------------------------------------
*/
.phark, .replace,
#header h1 a {
	overflow: hidden;
	display: block;
	font-size: 0; line-height: 0; text-decoration: none; text-indent: 100%;
	white-space: nowrap;
	background: transparent no-repeat 0 0;
	border: 0;
	-moz-border-radius: 0; -webkit-border-radius: 0;
	-o-border-radius: 0; -ms-border-radius: 0;
	border-radius: 0;
}


/**
* =clearing
* @section Common
* @subsection Easy Clearing
* @see http://www.positioniseverything.net/easyclearing.html
* --------------------------------------------------------------------------------------------------
*/
.clearfix:after,
#content:after,
#wrapper .inner:after {
	clear: both;
	display: block; visibility: hidden;
	height: 0;
	font-size: 0; line-height: 0;
	content: '.';
}
.clearfix,
#content,
#wrapper .inner {
	display: inline-block;
}
/* Hide from IE Mac \*/
.clearfix,
#content,
#wrapper .inner {
	display: block;
}
/* End hide from IE Mac */


/**
* =general
* @section General Layout
* --------------------------------------------------------------------------------------------------
*/
html, body {
	font-family: Arial, sans-serif;
	font-size: 14px; line-height: 1.5; font-weight: 400; text-align: left;

}
#wrapper {
	position: relative;
	min-width: 350px;
	padding: 0; margin: 0 auto;
}
	#wrapper .inner {
		position: relative;
		max-width: 960px;
		margin: 0 auto; padding: 0 30px;
	}
	
#nav,
#container .listing-slideshow .inner,
#container .banner .inner {
	max-width: 1500px;
	margin-left: auto; margin-right: auto;
}
	
/* @group Reset Lists */
.nav ul,
.nav ol,
.nav li,
.listing ul,
.listing ol,
.listing li,
.gform_wrapper ul,
.gform_wrapper li {
	margin: 0; padding: 0;
	list-style: none;
}
/* @end */
	
/* @group Clearing */
.clear {
	position: relative !important; overflow: hidden !important;
	clear: both !important;
	display: none;
	width: 100% !important; height: 0 !important;
	padding: 0 !important; margin: 0 !important;
	border: 0 !important;
	background: transparent !important;
}
.clear-2 {
	display: block;
}
/* @end */
			
/* @group =Listings */
.listing ul {}
	.listing li {}
		.listing a {
			display: block;
			text-decoration: none; color: #000; font-weight: 400;
			outline: 0;
		}
		.listing a:hover,
		.listing a:focus,
		.listing a:active {
			text-decoration: none;
		}
		.listing a:hover .listing-title,
		.listing a:focus .listing-title,
		.listing a:active .listing-title,
		.listing .listing-title a:hover,
		.listing .listing-title a:focus,
		.listing .listing-title a:active {
			text-decoration: underline;
		}
		.listing a.category,
		.listing .more,
		.listing .more a {
			display: inline;
			color: #000;
		}
		.listing a.category:hover,
		.listing a.category:focus,
		.listing a.category:active,
		.listing .more a:hover,
		.listing .more a:focus,
		.listing .more a:active,
		.listing a:hover .more,
		.listing a:focus .more,
		.listing a:active .more {
			text-decoration: underline;
		}
/* @end */
	
/* @group =Social Icons */
.social-icons {
	overflow: hidden;
}
	.social-icons li {
		float: left;
		display: inline;
		margin: 0 8px 0 0;
	}
	.social-icons li,
	.social-icons a {
		position: relative;
		width: 25px; height: 25px;
	}
		.social-icons a {
			background-image: url(img/misc/social-icons.png);
		}
		.social-icons li.facebook a,
		.social-icons li.facebook a:visited {
			background-position: 0 0;
		}
		.social-icons li.facebook a:hover,
		.social-icons li.facebook a:focus,
		.social-icons li.facebook a:active {
			background-position: 0 -25px;
		}
		.social-icons li.facebook a:active {
			background-position: 0 -50px;
		}

		.social-icons li.twitter a,
		.social-icons li.twitter a:visited {
			background-position: -25px 0;
		}
		.social-icons li.twitter a:hover,
		.social-icons li.twitter a:focus {
			background-position: -25px -25px;
		}
		.social-icons li.twitter a:active {
			background-position: -25px -50px;
		}
/* @end */


/**
* =typography
* @section typography
* --------------------------------------------------------------------------------------------------
*/
h1, h2, h3, h4, h5, h6,
ol, ul, p, blockquote {
	margin: 0 0 1em;
}

/* @group =Headings */
h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
}
h1, h2, h3, h4 {
	margin: 0 0 15px;
	font-size: 24px; color: #000; line-height: 1.25;
}
h2 {}
h3 {
	margin-bottom: 10px;
	font-size: 16px;
}
h4 {
	margin-bottom: 0;
	font-size: 14px; color: #000;
}
/* @end */

a {
	color: #000; font-weight: 700; text-decoration: none;
}
a:hover,
a:focus,
a:active {
	text-decoration: underline;
}

img {
	display: block;
	max-width: 100%; height: auto; width: 100%;
}

address {
	font-style: normal;
}
	address span {
		display: block;
	}
		address span span {
			display: inline;
		}

abbr,
abbr[title] {
	text-decoration: none;
	border: 0;
}

blockquote {
	margin-left: 25px; margin-right: 25px;
	font-style: normal;
}

.video-wrapper {
	position: relative;
	height: 0;
	padding-bottom: 56.25%; padding-top: 25px; margin-bottom: 30px;
}
	.video-wrapper iframe {
		position: absolute; top: 0; left: 0;
		width: 100%; height: 100%;
	}

/* @group WordPress required classes */
.alignright {
	float: right;
	margin: 0 0 10px 15px;
	text-align: right;
}
.alignleft {
	float: left;
	margin: 0 15px 10px 0;
	text-align: left;
}
.aligncenter {
	display: block;
	margin: 0 auto 1em;
}
.sticky {}
.gallery-caption {}
.bypostauthor {}
		
.wp-caption {
	position: relative;
}
	.wp-caption img {}
	.wp-caption .wp-caption-text {
		margin-bottom: 0;
	}
/* @end */


/**
* =forms
* @section Forms
* --------------------------------------------------------------------------------------------------
*/
form,
fieldset {
	display: block;
	padding: 0; margin: 0;
	border: 0;
}		
	form .gform_body {}
		form .gfield {
			margin: 0 0 10px;
		}
		form .gfield label {
			display: block;
			padding: 0 0 3px;
			color: #555;
		}
		form .gform_body input,
		form .gform_body textarea,
		form input.gform_button {
			width: 100%;
			padding: 10px;
			color: #000;
			box-sizing: border-box;
			-moz-box-sizing: border-box;
			border: 2px solid #b3b3b3;
			
			outline: 0;
			box-shadow: none;
			-moz-box-shadow: none;
		}
		form .gform_body input,
		form .gform_body textarea {
			background: #fff;
		}
		form .gform_body textarea {
			height: 100px;
			resize: vertical;
		}
		form .gform_body select {
			width: 100%;
		}
		form .gform_body input:focus,
		form .gform_body textarea:focus,
		form input.gform_button:hover,
		form input.gform_button:focus,
		form input.gform_button:active {}
		
	form .gform_footer {}
		form input.gform_button {
			float: right;
			width: auto;
			padding: 12px 12px 8px;
			text-transform: uppercase; color: #fff; font-size: 18px; font-weight: 700;
			border: 0;
		}
		form input.gform_button:hover,
		form input.gform_button:focus,
		form input.gform_button:active {
			background: #00adee;
		}
		
	#wrapper form .gfield_checkbox .gfield_label {
		display: none;
	}
		#wrapper form .gfield_checkbox input {
			margin: 0 10px 0 0;
			width: auto;
			border: 0;
		}
		#wrapper form .gfield_checkbox label {
			display: inline;
			padding: 0;
		}
/* @end */


/**
* =header
* @section Header
* --------------------------------------------------------------------------------------------------
*/
#header {}
#header .inner {
	position: relative; overflow: hidden;
}
	#header h1,
	#header h1 a {
		float: left;
		height: 132px; width: 270px;
		margin: 0;
	}
	#header h1 {}
		#header h1 a {
			background-image: url(img/logo.png);
		}

	#header-contact {
		position: relative; overflow: hidden;
		float: right; clear: right;
		display: inline;
		padding: 10px 0 15px;
		font-size: 18px; font-weight: 700; text-align: right;
	}
		#header-contact p {
			display: inline-block;
			margin-left: 12px; margin: 0;
		}
		#header-contact .type {
			color: #000;
		}
		#header-contact .value {
			position: relative; overflow: hidden;
			text-transform: none; text-decoration: none; font-style: normal; color: #000;
			text-overflow: ellipsis;
		}
		


/**
* =navigation
* @section Navigation
* --------------------------------------------------------------------------------------------------
*/
#nav {
	margin-bottom: 32px;
}
#nav .inner {
	position: relative; z-index: 101;
}
	#nav ul,
	#nav-mobile ul {
		position: relative;
		float: left;
		display: inline;
		text-align: left;
	}
		#nav li,
		#nav a,
		#nav-mobile li,
		#nav-mobile a {
			position: relative;
			text-decoration: none; font-size: 14px; text-transform: uppercase; font-weight: 700;
			line-height: 40px; color: #000;
		}
		#nav li,
		#nav-mobile li {
			float: left;
			display: block;
			border: 0 solid #009fe2; border-width: 0 0 0 2px;
		}
		#nav li.f,
		#nav-mobile li.f {
			border-width: 0;
		}
			#nav a,
			#nav-mobile a {
				display: block;
				padding: 0 10px;
			}
			#nav a:hover,
			#nav a:focus,
			#nav a:active,
			#nav-mobile a:hover,
			#nav-mobile a:focus,
			#nav-mobile a:active {
				text-decoration: none;
			}
			
			#nav .active a,
			#nav .active a:hover,
			#nav .active a:focus,
			#nav .active a:active,
			#nav-mobile .active a,
			#nav-mobile .active a:hover,
			#nav-mobile .active a:focus,
			#nav-mobile .active a:active {
				text-decoration: none; 
			}
		
	/* @group Sub Navigation */
	#nav ul ul,
	#nav-mobile ul ul {
		display: none;
	}
	#nav ul ul {
		position: absolute; top: 2.85em; left: 0;
		width: auto;
		padding: 10px 0;
		background: #00adef;
	}
	#nav ul li:hover ul {
		display: block;
	}
		#nav ul ul li,
		#nav ul ul li a,
		#nav ul .active ul li a {
			float: none;
			display: block;
			padding: 0; margin: 0;
			color: #fff;
			font-size: 12px; text-transform: none; line-height: 1.25; text-align: left;
			white-space: nowrap;
			background: #00adef;
			border: 0;
		}
			#nav ul ul li a,
			#nav ul .active ul li a {
				padding: 5px 15px;
			}
			#nav ul ul li a:hover,
			#nav ul ul li a:focus,
			#nav ul ul li a:active,
			#nav ul .active ul li a:hover,
			#nav ul .active ul li a:focus,
			#nav ul .active ul li a:active {
				color: #0066b0;
				background: #00adef;
			}
	/* @end */
	
/* @group Page Navigation */
#content #content-secondary .section-navigation {
	min-height: 0;
	background: transparent;
}
.section-navigation,
.section-navigation a {
	border: 0 solid #ccc; border-width: 1px 1px 0 0;
}
.section-navigation {}
	.section-navigation li {}
		.section-navigation a,
		.section-navigation ul ul a,
		.section-navigation ul .active ul a {
			display: block;
			padding: 3px 8px;
			color: #0067B1; font-weight: 400;
			border-width: 0 0 1px;
		}
		.section-navigation a:hover,
		.section-navigation a:focus,
		.section-navigation a:active,
		.section-navigation .active a,
		.section-navigation ul ul a:hover,
		.section-navigation ul ul a:focus,
		.section-navigation ul ul a:active,
		.section-navigation ul ul .active a,
		.section-navigation ul .active ul a:hover,
		.section-navigation ul .active ul a:focus,
		.section-navigation ul .active ul a:active,
		.section-navigation ul .active ul .active a {
			text-decoration: none; color: #ee3d43;
		}
		
	.section-navigation ul ul {}
		.section-navigation ul ul li {}
			.section-navigation ul ul a,
			.section-navigation ul .active ul a {
				padding-left: 30px;
				color: #000;
			}
			.section-navigation ul ul a:before,
			.section-navigation ul .active ul a:before {
				display: none;
				margin: 0;
				content: '';
			}
/* @end */
			
#nav-mobile,
#toggle-nav {
	display: none;
}


/**
* =footer
* =sitemap
* @section Footer information, including sitemap
* --------------------------------------------------------------------------------------------------
*/
#footer {}
/* @end */


/**
* =content
* @section Content
* --------------------------------------------------------------------------------------------------
*/
#content {
	position: relative; overflow: hidden;
}
	#content-primary,
	#content-secondary,
	#content-tertiary {
		position: relative; overflow: hidden;
		float: left;
		display: inline;
		padding: 0 0 30px;
	}
	#content-primary {
		left: -26.5%;
		float: right;
		width: 47%;
	}
	#content-secondary,
	#content-tertiary {
		width: 24%;
	}
	#content-secondary {}
	#content-tertiary {
		left: 52%;
	}
		#content-secondary .section,
		#content-tertiary .section {
			margin-bottom: 20px;
		}

/* @group Two Column (No Navigation) */
body.page-template-page-contact-php #content-primary,
body.page-template-page-no-nav-php #content-primary {
	left: 0;
	float: left;
	width: 71%;
}
body.page-template-page-contact-php #content-tertiary,
body.page-template-page-no-nav-php #content-tertiary {
	left: 0;
	float: right;
}
/* @end */

/* @group =Pagination */
.pagination {
	margin: -10px 0 0;
}
	.pagination ul {
		position: relative; overflow: hidden;
	}
		.pagination li {
			float: left;
			display: inline;
		}
			.pagination a,
			.pagination span {
				display: block;
				padding: 3px;
				color: #0067B1; font-weight: 700; line-height: 1;
			}
			.pagination a:hover,
			.pagination a:focus,
			.pagination a:active {
				color: #00AEEF;
			}
			.pagination span {
				color: #ee3d43;
			}
			
		.pagination li.previous,
		.pagination li.next {
			margin-top: 3px;
			margin-right: 3px;
		}
		.pagination li.next {
			margin-left: 3px; margin-right: 0;
		}
			.pagination .previous a,
			.pagination .next a {
				display: block;
				height: 13px; width: 13px;
				padding: 0; margin: 0;
				background-image: url(img/misc/previous-next.png);
				background-position: -2000px -2000px;
			}
			.pagination .previous a {
				background-position: 0 0;
			}
			.pagination .previous a:hover,
			.pagination .previous a:focus {
				background-position: 0 -20px;
			}
			.pagination .previous a:active {
				background-position: 0 -40px;
			}
			.pagination .next a {
				background-position: -20px 0;
			}
			.pagination .next a:hover,
			.pagination .next a:focus {
				background-position: -20px -20px;
			}
			.pagination .next a:active {
				background-position: -20px -40px;
			}
/* @end */
	
/* @group =homepage */
body.homepage {}
	body.homepage #content-secondary {
		left: 76%;
	}
	body.homepage #content-tertiary {
		left: -24%;
	}
/* @end */
			
/* @group =404 */
/* @end */


/**
* =slideshow
* =banner
* @section Slideshow and Banner
* --------------------------------------------------------------------------------------------------
*/
#container .listing-slideshow,
#container .banner {
	position: relative;
	margin: 0 0 32px;
}
#container .listing-slideshow .inner,
#container .banner .inner {
	position: relative;
	width: auto; max-width: none;
	padding: 0;
}

.type-slideshow,
.banner {
	position: relative;
}
	#container .type-slideshow .entry-content,
	#container .banner .entry-content {
		position: absolute; top: 0; left: 0; right: 0; bottom: 0;
		max-width: 960px; height: 100%;
		margin: 0 auto; padding: 0 30px;
	}
	#container .type-slideshow .entry-content .inner,
	#container .banner .entry-content .inner {
		position: absolute; bottom: 80px; left: 30px;
	}
		.type-slideshow .entry-title,
		.type-slideshow .description,
		.banner .entry-title,
		.banner .description {
			padding: 18px 30px;
		}
		.type-slideshow .entry-title,
		.banner .entry-title {
			float: left;
			color: #fff; font-size: 22px; font-weight: 700;
			background: #0067b0;
			background: rgba(0, 103, 176, 0.9);
		}
		.type-slideshow .description,
		.banner .description {
			clear: both;
			max-width: 410px;
			padding-bottom: 1px;
			color: #0067b1; font-size: 16px;
			background: #fff;
			background: rgba(255, 255, 255, 0.75);
		}
		
.listing-slideshow .type-slideshow {
	display: none;
}
.listing-slideshow .type-slideshow.active,
html.js .listing-slideshow .bx-viewport .type-slideshow {
	display: block;
}
html.js .listing-slideshow .bx-controls {
	position: absolute; bottom: 20px; left: 0; right: 0; z-index: 500;
	width: 100%;
}
html.js .listing-slideshow .bx-controls .bx-pager {
	text-align: center;
}
html.js .listing-slideshow .bx-controls .bx-pager-item {
	display: inline-block;
}
	html.js .listing-slideshow .bx-controls .bx-pager-link {
		display: inline-block;
		height: 12px; width: 12px;
		margin: 0 10px;
		background: #828282;
		border-radius: 100%;
	}
	html.js .listing-slideshow .bx-controls .bx-pager-link.active {
		background: #fff;
	}


/**
* =featured
* @section Featured
* --------------------------------------------------------------------------------------------------
*/
.type-featured {}
	.type-featured .entry-title {
		margin: 0; padding: 5px;
		color: #fff; font-size: 22px; line-height: 1.5; font-weight: 700; text-align: center;
		text-decoration: none;
	}
	.type-featured a {
		text-decoration: none;
	}

.listing-featured {}
	.listing-featured ul {
		margin-left: -2%;
	}
		.listing-featured .type-featured {
			float: left;
			display: inline;
			width: 23%;
			margin: 0 0 0 2%;
		}
		

/**
* =news
* @section News
* --------------------------------------------------------------------------------------------------
*/
.type-post {}

.listing-post {}
.listing-post .type-post {}